* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(172, 87, 87);
    padding-bottom: 1000em;
    background-color: #fff;

}


p {
    opacity: 0.8;
    margin: 2em 0;
    font-size: 25px;
    color: rgb(58, 58, 229);
}


a {
    border: 2px solid rgba(174, 23, 23, 0.8);
    padding: 0.6em 3.5em;
    margin: auto;
    color: rgb(27, 19, 19);
    opacity: 0.8;
    text-decoration: none;
    border-radius: 50px;
    font-size: 20px;
}



a:hover {
    background: rgb(113, 88, 88);
    color: rgb(10, 75, 127);
    transition: all .2s;
}



h1 {
    font-weight: 600;
    font-size: 3em;
}


/*-----------------------------------*/

/* div que contiene todo*/
.baner {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    text-align: left;
    background: center fixed url("/asesst/asiatico-viaje-mujer-relaja-viajeros-.jpg");
    background-repeat: no-repeat;

}


/* contiene el h1, el p */
.baner-description {
    width: 90%;
    max-width: 1000px;
    display: block;
    margin: auto;

}